* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  font-family: sans-serif;
}

main {
  width: 90%;
  max-width: 800px;
  margin: 32px auto;
}

club-list {
  display: block;
  margin-top: 32px;
  width: 100%;
  padding: 16px;
}

kategori-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  overflow: auto; /* new */
  height: 50vh;

}



